.header-content {
  background-image: url('https://preview.ibb.co/kt4tRk/coders.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  width: 100vw;
}

.over-header-content {
  background-color: rgba(0, 0, 0, 0.1);
}
