.about-text {
  font-size: 1.5em;
  margin: 3em;
  font-family: 'Work Sans', sans-serif;
}

.about-content {
  margin: 0em 8em;
}

p {
  font-weight: lighter;
}

.row {
  display: flex;
  align-items: center;
}
