.goal-wrapper {
  background-color: #F9F6F6;
}

.goal-content {
  margin: 0em 8em;
}

.row {
  align-items: center;
  display: flex;
}

.goal-text {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.5em;
  margin: 3em;
  text-align: left;
}

h4 {
  font-family: 'Palanquin', sans-serif;
}

p {
  font-weight: lighter;
}
