.header-wrapper{
  margin-top: 1em;
  height: 60vh;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  height: 60vh;
  justify-content: center;
}

#logo {
  height: 10em;
  margin: 0;
  width: 10em;
}


h1 {
  font-size: 80px;
  font-weight: lighter;
  margin: 0em;
  text-transform: uppercase;
  color: white;
}
