.header-wrapper{
  height: 95vh;
}

.header {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Work Sans', sans-serif;
}

.btn-down, a{
  height: 10vh;
  width: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.5s;
}

.btn-down:hover, a:hover {
  color: rgba(255, 255, 255, 0.8);
  transition: 0.5s;
}

h1 {
  font-size: 50px;
  font-weight: lighter;
  text-transform: uppercase;
  margin: .5em;
}

#logo {
  height: 10em;
  width: 10em;
  margin: 0;
}
