.header-wrapper{
  height: 95vh;
}

.header {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Work Sans', sans-serif;
}

h1 {
  font-size: 50px;
  font-weight: lighter;
  text-transform: uppercase;
  margin: .5em;
}

#logo {
  height: 10em;
  width: 10em;
  margin: 0;
}
