.footer {
  align-items: center;
  background-color: #000;
  color: white;
  display: flex;
  font-family: 'Work Sans', sans-serif;
  font-weight: 100;
  height: 3em;
  justify-content: center;
  text-align: center;
}

.footer p {
  color: rgba(255, 255, 255, 0.5);
}
